@font-face {
    font-family: 'Frutiger LT Pro 55 Roman';
    src: url('FrutigerLTPro-Roman.woff2') format('woff2'),
        url('FrutigerLTPro-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frutiger LT Pro 55 Roman';
    src: url('FrutigerLTPro-Bold.woff2') format('woff2'),
        url('FrutigerLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frutiger LT Pro 55 Roman';
    src: url('FrutigerLTPro-Black.woff2') format('woff2'),
        url('FrutigerLTPro-Black.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Janna LT';
    src: url('JannaLT-Bold.woff2') format('woff2'),
        url('JannaLT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
